DB_PATH_HOST=./mongo
DB_PATH_CONTAINER=/data/db
DB_MONGO_USER=lacore_refresh
DB_MONGO_PASSWORD=123456
DB_MONGO_HOST=localhost
DB_MONGO_BASE=lacore_tokens

APP_DEBUG=true
JWT_SECRET=214akjda235235sbdkj2
BEARER_SECRET=2355553

SSO_ACTIVATE=12345

APP_PATH_HOST=./
APP_PATH_CONTAINER=/var/app/

AUTH_STATIC_URL=http://localhost:8080/

PG_ADDRESS=localhost
PG_PORT=5432
PG_LOGIN=postgres
PG_PASSWORD=2355553
PG_DB=lacore_mlm

APP_PC=false

PORT=3000
